/* Основной стиль для ячеек таблицы */
.ms-td{
    width: 20px; /* Ширина ячейки */
    height: 20px; /* Высота ячейки */
    border: solid black 1px; /* Черная рамка вокруг ячейки */
    text-align: center; /* Выравнивание текста по центру по горизонтали */
    vertical-align: middle; /* Выравнивание текста по центру по вертикали */
}

/* Стиль для ячейки с миной */
.bomb{
    background-color: red; /* Красный фон */
    color: white; /* Белый цвет текста */
}

/* Стиль для неактивной ячейки */
.idle{
    color: black; /* Черный цвет текста */
}

/* Стиль для ячейки, отмеченной как безопасная */
.mark-SAFE{
    background-color: gray; /* Серый фон */
} 

/* Стиль для ячейки, отмеченной как сомнительная */
.mark-DOUBT{
    background-color: yellow; /* Желтый фон */
}

/* Стиль для ячейки, отмеченной как опасная */
.mark-DANGER{
    background-color: red; /* Красный фон */
}

/* Стиль для раскрытой безопасной ячейки */
.revealed-ok{
    background-color: white; /* Белый фон */
}

/* Стили для ячеек с числами, указывающими количество мин вокруг */

/* Стиль для ячейки с числом 0 */
.number0{ color:#1111FF } /* Темно-синий цвет текста */

/* Стиль для ячейки с числом 1 */
.number1{ color:#4444FF } /* Средне-синий цвет текста */

/* Стиль для ячейки с числом 2 */
.number2{ color:#7777FF } /* Светло-синий цвет текста */

/* Стиль для ячейки с числом 3 */
.number3{ color:#FF1111 } /* Темно-красный цвет текста */

/* Стиль для ячейки с числом 4 */
.number4{ color:#FF4444 } /* Средне-красный цвет текста */

/* Стиль для ячейки с числом 5 */
.number5{ color:#FF7777 } /* Светло-красный цвет текста */

/* Стиль для ячейки с числом 6 */
.number6{ color:#FFFF00 } /* Желтый цвет текста */

/* Стиль для ячейки с числом 7 */
.number7{ color:#FF0000 } /* Красный цвет текста */
